.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    height: 40px;
    color: #fff;
    padding: 30px 30px;
    gap: 20px;
    box-shadow: 12px 21px 12px #dadada;
}

.nav>h1{
    font-size: 1.5em;
   
    
}



.navUl{
    display: flex;
    gap: 50px;
   
}

.navli{
    font-size: 1em;
    cursor: pointer;
}

.navli:hover{
    color: red;
}


